.cards-services-services-all-you-needs-active-on,
.cards-services-services-all-you-needs-active-on * {
  box-sizing: border-box;
}
.cards-services-services-all-you-needs-active-on {
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: 450px;
  position: relative;
  box-shadow: 0px 2px 70px 0px rgba(0, 0, 0, 0.06);
}
.cards-services-services-all-you-needs-active-on .group-2 {
  flex-shrink: 0;
  width: 70px;
  height: 80px;
  position: static;
}
.cards-services-services-all-you-needs-active-on .ellipse-1 {
  background: #ededed;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 140px;
  top: 87.5px;
}
.cards-services-services-all-you-needs-active-on .group-1 {
  width: 40px;
  height: 72px;
  position: absolute;
  left: 155px;
  top: 77.5px;
  overflow: visible;
}
.cards-services-services-all-you-needs-active-on .frame-14 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cards-services-services-all-you-needs-active-on .all-you-needs {
  color: var(--black, #1c1c1c);
  text-align: left;
  font-family: var(
    --semibold-type28-font-family,
    "PlusJakartaSans-SemiBold",
    sans-serif
  );
  font-size: var(--semibold-type28-font-size, 28px);
  font-weight: var(--semibold-type28-font-weight, 600);
  position: relative;
}
.cards-services-services-all-you-needs-active-on
  .from-flights-stays-to-sights-just-count-on-our-complete-products {
  color: #a8a8a8;
  text-align: center;
  font-family: var(
    --medium-type18-font-family,
    "PlusJakartaSans-Medium",
    sans-serif
  );
  font-size: var(--medium-type18-font-size, 18px);
  line-height: var(--medium-type18-line-height, 30px);
  font-weight: var(--medium-type18-font-weight, 500);
  position: relative;
  width: 254px;
  display: flex;
  align-items: center;
  justify-content: center;
}
